doctype html

html
    head
        title My site - #{title}
        block styles
            link(rel='stylesheet', href='css/bootstrap.min.css')

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
                a.navbar-brand(href='/') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='/') Home
                    li.nav-item
                        a.nav-link(href='/users') Lista de usuarios
                    li.nav-item
                        a.nav-link(href='/permissions') Permisos

        //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
        //-     div.container-fluid
        //-         a.navbar-brand(href="/") Navbar
        //-         button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        //-             span.navbar-toggler-icon
        //-         div.collapse.navbar-collapse#navbarNav
        //-             ul.navbar-nav
        //-                 li.nav.item
        //-                     a.nav-link.active(aria-current="page" href="/") Home
        //-                 li.nav-item
        //-                     a(href="/users").btn.btn-light.btn-lg.px-2.me-sm-4 lista de usuarios
        //-                 li.nav-item
        //-                     a(href="/users/permissions").btn.btn-light.btn-lg.px-2.me-sm-4 Permisos
        //-             li.nav-item.active
        //-                 a.nav-link(href='/users') Lista de usuarios
        //-             li.nav-item.active
        //-                 a.nav-link(href='/users/permissions') Permisos

        
        //- nav(class="navbar navbar-dark bg-primary")
        //-     div(class="container-fluid")
        //-         a(class="navbar-brand" href="#") Navbar
        //-         button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        //-             span(class="navbar-toggler-icon")
        //-         div(class="collapse navbar-collapse" id="navbarNav")
        //-             ul(class="navbar-nav")
        //-                 li(class="nav-item")
        //-                     a(class="nav-link active" aria-current="page" href="/") Home 
        //-                 li(class="nav-item")
        //-                     a(class="nav-link" href="/users") list user 
        //-                 li(class="nav-item")
        //-                     a(class="nav-link" href="/users/permissions") Permissions                

            
        block content
        block foot
            #footer
                p some footer content